version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "${PORT}:${DOCKER_PORT}"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks: 
      - football-manager-be

  db:
    image: postgres:16
    container_name: football-db
    restart: always
    environment:
      POSTGRES_USER: "${DATABASE_USER}"
      POSTGRES_PASSWORD: "${DATABASE_PASSWORD}"
      POSTGRES_DB: "${DATABASE_NAME}"
    ports:
      - "${DATABASE_PORT}:${DATABASE_DOCKER_PORT}"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - football-manager-be
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    ports:
      - "${REDIS_PORT}:${REDIS_DOCKER_PORT}"
    networks: 
      - football-manager-be
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:

networks:
  football-manager-be: {}
